In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

from sklearn.model_selection import KFold
from imblearn.over_sampling import SMOTE

from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC


from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.multiclass import OneVsRestClassifier

from sklearn.metrics import confusion_matrix
from mlxtend.plotting import plot_confusion_matrix
import matplotlib.pyplot as plt

#import scikitplot as skplt
from pprint import pprint

Using TensorFlow backend.
C:\Users\yuka\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\yuka\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\yuka\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\yuka\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\yuka\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\yuka\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
def modeling(clf,X_train,y_train,X_test,y_test):
    """returns train a model and return model's accuracy and F1_macro"""
    
    clf.fit(X_train,y_train)
    y_pred =clf.predict(X_test)
    clf_report = classification_report(y_test,y_pred)
    clf_acc_score = accuracy_score(y_test, y_pred)
    f1score=f1_score(y_test, y_pred, average='macro')
    return  clf_report, clf_acc_score, f1score
    print(clf_report)

In [4]:
df =pd.read_csv("data/resampled_tanzania_cleaned_df.csv")
df

,gps_height,longitude,latitude,population,basin_Internal,basin_Lake_Nyasa,basin_Lake_Rukwa,basin_Lake_Tanganyika,basin_Lake_Victoria,basin_Pangani,...,funder_group_gov,funder_group_hesewa,funder_group_kkkt,funder_group_others,funder_group_rwe,funder_group_tcrs,funder_group_unknown,population_zero_0,population_zero_1,status_group
0,0.653165,-0.079198,-1.408791,-0.150399,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,functional
1,0.671010,-0.172375,1.207934,0.212290,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,functional
2,-0.742690,0.902910,0.639751,0.148660,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,functional
3,-1.581393,1.302165,-1.849720,-0.258570,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,non functional
4,0.373597,-1.561466,1.317271,-0.381587,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,0.296270,0.789671,0.832379,-0.116463,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,functional
59396,0.300236,0.042233,-1.142092,-0.262812,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,functional
59397,0.373597,-0.437772,-1.033404,-0.381587,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,functional
59398,0.373597,0.280239,-0.228290,-0.381587,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,functional
59399,-1.724151,1.153398,-0.353508,-0.063439,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,functional

In [5]:
# Feature selection 
X = df.iloc[0:59400,0:110]
y= df[['status_group']]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)

In [7]:
print(len(X_train))
print(len(y_train))
print(len(X_test))
print(len(y_test))
print(df.status_group.value_counts())

47520
47520
11880
11880
functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [9]:
df_r =pd.read_csv("data/df_resampled.csv")
df_r

,gps_height,longitude,latitude,population,basin_Internal,basin_Lake_Nyasa,basin_Lake_Rukwa,basin_Lake_Tanganyika,basin_Lake_Victoria,basin_Pangani,...,funder_group_gov,funder_group_hesewa,funder_group_kkkt,funder_group_others,funder_group_rwe,funder_group_tcrs,funder_group_unknown,population_zero_0,population_zero_1,status_group
0,2.045055,0.110766,0.501897,-0.042229,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,functional
1,0.373597,0.143490,-0.006287,-0.381587,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,functional
2,-0.126055,-1.028468,-1.145688,-0.381587,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,non functional
3,-0.126055,-0.420876,-1.060482,-0.381587,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,non functional
4,-0.074504,0.736288,-0.113630,-0.127068,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,non functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61954,-0.126055,1.437858,0.280064,0.176710,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,non functional
61955,-0.126055,-0.877940,-1.167614,-0.381587,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,non functional
61956,-0.126055,-0.844502,-1.203330,-0.381587,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,non functional
61957,-2.019432,1.499206,-0.576637,0.508375,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,non functional
61958,-1.470166,1.431702,-1.761327,-0.300782,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,non functional

In [10]:
# Split X_train_resampled and y_train_resampled
# !!Only split X and y. This dataset is only for training due to upsampled data. 
# !! Test dataset needs to be unseen

X_train_resampled = df_r.iloc[0:61959,0:110]
y_train_resampled = df_r[["status_group"]]

In [11]:
print(len(X_train_resampled))
print(len(y_train_resampled))
print(y_train_resampled.status_group.value_counts())

61959
61959
functional needs repair    20653
functional                 20653
non functional             20653
Name: status_group, dtype: int64

# Basemodels used upsampled train dataset, holdout method (8:2) validation

In [12]:
XGB =XGBClassifier()
XGB_clf_report, XGB_clf_acc_score, XGB_f1score = modeling(XGB,X_train_resampled,y_train_resampled,X_test,y_test)

C:\Users\yuka\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\yuka\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
GBC = GradientBoostingClassifier()
GBC_clf_report, GBC_clf_acc_score, GBC_f1score = modeling(GBC,X_train_resampled,y_train_resampled,X_test,y_test)

C:\Users\yuka\Anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
RFC =RandomForestClassifier()
RFC_clf_report, RFC_clf_acc_score, RFC_f1score = modeling(RFC,X_train_resampled,y_train_resampled,X_test,y_test)

svc =SVC()
svc_clf_report, svc_clf_acc_score, svc_f1score = modeling(svc,X_train_resampled,y_train_resampled,X_test,y_test)

C:\Users\yuka\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\Users\yuka\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
results={'Classifier':["XGB Classifier","Gradient Boosting Classifier","Random Forest Classifier","SVC"],
'Accuracy':[XGB_clf_acc_score,GBC_clf_acc_score,RFC_clf_acc_score,svc_clf_acc_score],
'F1_macro':[XGB_f1score,GBC_f1score,RFC_f1score,svc_f1score]}

In [16]:
score_report_df =pd.DataFrame(data=results,columns=["Classifier","Accuracy","F1_macro"])
print("Base models with upsampled train datasets,  holdout method (8:2) validation")
score_report_df

Base models with upsampled train datasets,  holdout method (8:2) validation

                     Classifier  Accuracy  F1_macro
0                XGB Classifier  0.848737  0.780203
1  Gradient Boosting Classifier  0.814310  0.738204
2      Random Forest Classifier  0.860185  0.793573
3                           SVC  0.834428  0.758577

In [19]:
print(XGB_clf_report)

                         precision    recall  f1-score   support

             functional       0.88      0.88      0.88      6457
functional needs repair       0.54      0.69      0.60       851
         non functional       0.89      0.84      0.86      4572

               accuracy                           0.85     11880
              macro avg       0.77      0.80      0.78     11880
           weighted avg       0.86      0.85      0.85     11880

# Turned hyperparameter and WTIH resampled dataset

In [20]:
XGB

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [22]:
XGB_t = XGBClassifier(colsample_bylevel=0.5,max_depth=10,objective="multi:softmax",num_class=3)
XGB_t

XGBClassifier(base_score=None, booster=None, colsample_bylevel=0.5,
              colsample_bynode=None, colsample_bytree=None, gamma=None,
              gpu_id=None, importance_type='gain', interaction_constraints=None,
              learning_rate=None, max_delta_step=None, max_depth=10,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_class=3,
              num_parallel_tree=None, objective='multi:softmax',
              random_state=None, reg_alpha=None, reg_lambda=None,
              scale_pos_weight=None, subsample=None, tree_method=None,
              validate_parameters=False, verbosity=None)

In [23]:

XGB_t_clf_report, XGB_t_clf_acc_score, XGB_t_f1score = modeling(XGB_t,X_train_resampled,y_train_resampled,X_test,y_test)

C:\Users\yuka\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\yuka\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
print(XGB_t_clf_report)

                         precision    recall  f1-score   support

             functional       0.88      0.89      0.89      6457
functional needs repair       0.61      0.64      0.62       851
         non functional       0.89      0.86      0.87      4572

               accuracy                           0.86     11880
              macro avg       0.79      0.80      0.79     11880
           weighted avg       0.86      0.86      0.86     11880

# Turned hyperparameter and no resampled dataset

In [25]:
XGB_t2 = XGBClassifier(colsample_bylevel=0.5,max_depth=10,objective="multi:softmax",num_class=3)
XGB_t2

XGBClassifier(base_score=None, booster=None, colsample_bylevel=0.5,
              colsample_bynode=None, colsample_bytree=None, gamma=None,
              gpu_id=None, importance_type='gain', interaction_constraints=None,
              learning_rate=None, max_delta_step=None, max_depth=10,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_class=3,
              num_parallel_tree=None, objective='multi:softmax',
              random_state=None, reg_alpha=None, reg_lambda=None,
              scale_pos_weight=None, subsample=None, tree_method=None,
              validate_parameters=False, verbosity=None)

In [26]:

XGB_t2_clf_report, XGB_t2_clf_acc_score, XGB_t2_f1score = modeling(XGB_t2,X_train,y_train,X_test,y_test)

In [27]:
print(XGB_t2_clf_report)

                         precision    recall  f1-score   support

             functional       0.87      0.94      0.90      6457
functional needs repair       0.80      0.57      0.67       851
         non functional       0.90      0.85      0.88      4572

               accuracy                           0.88     11880
              macro avg       0.86      0.79      0.82     11880
           weighted avg       0.88      0.88      0.88     11880